__pycache__
*.pyc

.snakemake/
analyses/*
!analyses/resource-usage/
!analyses/ucsc-mm39-comparison/
data/
!tests/integration/data/

etc/phyloacc-sicb-ms/chr1/phyloacc-job-files/alns/

workflow/legacy/scripts/.snakemake/
workflow/legacy/scripts/hmm-benchmarks/*.bed
workflow/legacy/scripts/hmm-benchmarks/old/
workflow/legacy/scripts/hmm-benchmarks/slurm-logs/
workflow/legacy/scripts/hmm-benchmarks/.snakemake/
workflow/legacy/scripts/old/maf-scripts/bed-blocks.txt
workflow/legacy/scripts/old/maf-scripts/fetch-test/
workflow/legacy/scripts/old/maf-scripts/split-test/
workflow/legacy/scripts/phylop-site-checks/bird-chr10-max-score-mafs/
workflow/legacy/scripts/phylop-site-checks/bird-chr10-max-score-sites.maf
workflow/legacy/scripts/test-conserved-sites.bed
workflow/legacy/scripts/test-clusters.bed
